.fullscreen {
  position: fixed;
  inset: 0;
}

/* .full-screen::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgb(0, 0, 0, 0.9);
  z-index: -10;
} */

.primary-header[data-fullscreen-mode]::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0, 0.85);
  }

.margin-bottom-600 {
  margin-bottom: var(--size-600);
}

:root {
  --board-size: 21;
}

.snake-field {
  display: grid;
  grid-template-rows: repeat(var(--board-size), 1fr);
  grid-template-columns: repeat(var(--board-size), 1fr);
  width: 98vmin;
  height: 98vmin;
  margin: auto;
  background-color: hsl(30, 49%, 38%);
  /* background-color: hsl(12, 78%, 18%); */
}

.score {
  display: flex;
  width: 100vmin;
  padding-bottom: var(--size-600);
  padding-top: var(--size-600);
  background-color: hsl(30, 49%, 38%);
  color: var(--color-main-body);
  border-bottom: 2px solid black;
}
.score > div:first-child {
  margin-left: var(--size-900);
}
.score > div:last-child {
  margin-left: auto;
  margin-right: var(--size-900);
}

.fullscreen-icon {
  width: calc(1.5 * var(--font-size-big));
  aspect-ratio: 1;
  object-fit: contain;
  margin-inline: auto;
  fill: var(--color-text-white);
  /* stroke: var(--color-text-white); */
  cursor: pointer;
}
.fullscreen-icon:hover {
  fill: var(--color-main-accent);
}
