.fullscreen {
  position: fixed;
  inset: 0;
}

/* .full-screen::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgb(0, 0, 0, 0.9);
  z-index: -10;
} */

.primary-header[data-fullscreen-mode]::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgb(0, 0, 0, 0.85);
}

.margin-bottom-600 {
  margin-bottom: var(--size-600);
}

:root {
  --field-size: 25;
}

.snake-field {
  display: grid;
  grid-template-rows: repeat(var(--field-size), 1fr);
  grid-template-columns: repeat(var(--field-size), 1fr);
  width: 98vmin;
  height: 98vmin;
  margin: auto;
  background-color: hsl(30, 49%, 38%);
  outline: 1vmin solid hsl(30, 49%, 20%);
  /* background-color: hsl(12, 78%, 18%); */
}
.snake,
.snake-head-up,
.snake-head-right,
.snake-head-down,
.snake-head-left,
.snake-body-N,
.snake-body-UL,
.snake-body-UR,
.snake-body-BR,
.snake-body-BL,
.tail-right,
.tail-left,
.tail-up,
.tail-down {
  background-color: hsl(86, 53%, 51%);
  border: 0.25vmin solid hsl(87, 39%, 28%);
}

.snake-head-up,
.snake-head-right,
.snake-head-down,
.snake-head-left {
  position: relative;
}

.snake-head-up {
  border-radius: 100% 100% 0 0;
}
.snake-head-right {
  border-radius: 0 100% 100% 0;
}
.snake-head-down {
  border-radius: 0 0 100% 100%;
}
.snake-head-left {
  border-radius: 100% 0 0 100%;
}

.snake-head-up::after,
.snake-head-down::after {
  content: '••';
  position: absolute;
  width: min-content;
  height: min-content;
  inset: 0;
  margin: auto;
  color: var(--color-main-body);
}

.snake-head-right::after,
.snake-head-left::after {
  content: '••';
  position: absolute;
  width: min-content;
  height: min-content;
  inset: 0;
  margin: auto;
  transform: rotate(90deg);
  color: var(--color-main-body);
}

.snake-body-UL {
  border-radius: 100% 0 0 0;
}

.snake-body-UR {
  border-radius: 0 100% 0 0;
}

.snake-body-BR {
  border-radius: 0 0 100% 0;
}

.snake-body-BL {
  border-radius: 0 0 0 100%;
}

.tail-right {
  border-radius: 0% 100% 100% 0% / 0% 50% 50% 100%;
}

.tail-left {
  border-radius: 100% 0% 0% 100% / 50% 100% 0% 50%;
}

.tail-up {
  border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
}

.tail-down {
  border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%;
}

.mouse {
  background-image: url(../images/svg/mouse.svg);
  /* background-color: orangered;
  border-radius: 40%;
  border: 0.25vmin solid hsl(13, 99%, 15%); */
}

.score {
  display: flex;
  width: 100vmin;
  padding-bottom: var(--size-600);
  padding-top: var(--size-600);
  background-color: hsl(30, 49%, 38%);
  color: var(--color-main-body);
  border-bottom: 2px solid black;
}
.score > div:first-child {
  margin-left: var(--size-900);
}
.score > div:last-child {
  margin-left: auto;
  margin-right: var(--size-900);
}

.fullscreen-icon {
  width: calc(1.5 * var(--font-size-big));
  aspect-ratio: 1;
  object-fit: contain;
  margin-inline: auto;
  fill: var(--color-text-white);
  /* stroke: var(--color-text-white); */
  cursor: pointer;
}
.fullscreen-icon:hover {
  fill: var(--color-main-accent);
}
