/sources
temp*
/JS/weather-app-temp.js
/JS/weather-app-temp.js
snake-app-snake-backup.js
snake-app-snake-backup.js
snake-app-snake-backup2.js
snake-app-input-backup.js
snake-app-input-backup2.js
index_older_version.html