/sources
temp.html
/JS/weather-app-temp.js
temp.js
snake-app-snake-backup.js
snake-app-snake-backup2.js
snake-app-input-backup.js
snake-app-input-backup2.js
/JS/currency_latest.json
/JS/currency_timeseries.json