.shopping-cart__icon {
  position: relative;
  background-color: bisque;
  width: 2.5rem;
  aspect-ratio: 1;
}

.shopping-cart__icon::before {
  content: '🌸';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: brown;
}
